/*!
 * Custom CSS
 * For: stedmantam.com
 */


 /***************************************************
 *
 * Navigation Bar
 * 
 ***************************************************/

.navbar-default {
    padding: 5px 0;
    border-color: transparent;
    background-color: #222222;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: #fed136;
}

/* Toggle Icon background */
.navbar-default .navbar-toggle {
    border-color: #fed136;
    background-color: #fed136;
}
/* Toggle Icon line colours */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fed136;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    
    font-weight: 400;
    letter-spacing: 1px;
    color: white;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #fed136;
}



/* Navbar background for large screens*/
@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        background: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        color: white;
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    /*Navbar background after scrolling */
    .navbar-default.navbar-shrink {
        padding: 1px 0;
        background: #222222;
    }
    
}

/***************************************************
 *
 * Header
 * 
 ***************************************************/

 header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url('../images/header-bg.jpg');
    background-position: center center;
    background-repeat: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .container {
    padding-top: 200px;
    padding-bottom: 100px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-size: 22px;
    font-style: italic;
    line-height: 22px;
}

header .intro-text .intro-heading {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
}

@media(min-width:768px) {
    header .container {
        padding-top: 350px;
        padding-bottom: 350px;
    }

}

/***************************************************
 *
 * Content
 * 
 ***************************************************/

#about {
    padding: 75px 0;
    background-color: white;
}

h3.projects-section {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

section h2.section-heading {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    padding: 25px 0;
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: black;
    text-align: center;
}

section h4 {
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
}

p{
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#projects {
    padding: 100px 0;
    background-color: #f7f7f7
}

.page-header{
    border-color: black;
}